{% extends "layout.njk" %}
{% block title %}
    <title>Foodfy - Editar</title>
    <link rel="stylesheet" href="/styles/adminPage.css">
    {% endblock title %}
    {% block header %}
        {% include "admin/parts/admin-header.njk" %}
    {% endblock header %}
    {% block content %}
        <section id="edit admin">
            <div class="container">
                <form action="/admin/chefs?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="title">
                        <h2>Editando chef</h2>
                        <button type="submit">Salvar chef</button>
                    </div>
                    {% include "admin/chefs/fields.njk" %}
                    <input type="hidden" id="id" name="id" value="{{ chef.id }}"></form>

                    <form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">
                        <input type="hidden" name="id" value="{{ chef.id }}">
                            
                            {% if chef.total_recipes > 0 %} 
                             <button onclick="return alert('Não é possível deletar chefes que possuem receitas');" type="button" class="delete">Deletar</button> 
                            {%else%}
                             <button onclick="return confirm('Tem certeza que deseja? ');" type="submit" class="delete">Deletar</button>
                            
                            {% endif %}
                        </form>
                    </div>
                </section>
            {% endblock content %}