<div class="item">
    <h4>Nome do chef</h4>
    <input type="text" name="name" id="name" value="{{chef.name}}"></div>
    <div class="item">
        <h4>Avatar do chef</h4>
        <input type="text" name="avatar_url" id="avatar_url" placeholder="https://" value="{{chef.avatar_url}}"></div>
        