{% extends "layout.njk" %}
{% block title %}
    <title>Foodfy - Chefs</title>
    <link rel="stylesheet" href="/styles/adminPage.css">
{% endblock title %}
{% block header %}
{% include "admin/parts/admin-header.njk" %}
{% endblock header %}
{% block content %}
    <section id="home admin">
        <div class="container">
            <div class="header-info">
            <h1 class="title">Gerenciar chefs</h1>
            <a href="/admin/chefs/create"><button>Novo</button></a>
            </div>

            <div class="chefs">
                {% for chef in chefs %}
                <div class="chef">
                    <img src="{{chef.avatar_url}}" alt="Foto de {{chef.name}}">
                    <div class="chef-info">
                        <p class="chef-name">{{chef.name}}</p>
                        <a href="chefs/{{chef.id}}">Visualizar</a>
                    </div>
                </div>
                {% endfor %} 
            </div>

            </div>
        </div>
    </section>
{% endblock content %}
