{% extends "layout.njk" %}
{% block title %}
    <title>Foodfy - Criar</title>
{% endblock title %}
{% block header %}
    <header id="header" class="admin">
        <nav class="container">
            <a href="/">
                <img src="/assets/logo-alt.png " alt="Logo foodfy" class="logo"></a>
        </nav>
    </header>
{% endblock header %}
{% block content %}
    <section id="create admin">
        <div class="container">
            <form action="/admin/recipes" method="POST">
                <div class="title">
                    <h2>Criando receita</h2>
                    <button type="submit">Salvar receita</button>
                </div>
                {%include "admin/fields.njk"%}
            </form>
        </div>
    </section>
{% endblock content %}
