{% extends "layout.njk" %}
{% block title %}
    <title>Foodfy - Home</title>
{% endblock title %}
{% block content %}
    <section id="home">
        <div class="container">
            <div class="text">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <img src="/assets/chef.png" alt="Desenho do chef">
        </div>
    </section>
    <section id="features">
        <div class="container">
            <h1>Mais acessadas</h1>
            <ul class="receitas">
                {% for recipe in recipes %}
                    <li class="receita">
                        <img src="{{recipe.image}}" alt="">
                        <div class="food-info">
                            <h3>{{recipe.title}}</h3>
                            <p>por {{recipe.author}}</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock content %}

{% block scripts %}
<script src="scripts/recipeDetails.js"></script>
{% endblock scripts %}