{% extends "layout.njk" %}
{% block title %}
    <title>Foodfy -
        {{ recipe.title }}</title>
{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css"/>
    <link rel="stylesheet" href="../styles/main.css">
    {% endblock styles %}
    {% block content %}
        <section id="recipe-details">
            <div class="container">
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    <div class="food-title">
                        <h1>{{ recipe.title }}</h1>
                        <p>por
                            {{ recipe.author }}</p>
                    </div>
                    <div class="food-info">
                        <div class="ingredients">
                            <div class="title">
                                <h2>Ingredientes</h2>
                                <button>Esconder</button>
                            </div>
                            <div class="info">
                                {% for ingredient in recipe.ingredients %}
                                    <li>{{ ingredient }}</li>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="preparation">
                            <div class="title">
                                <h2>Modo de preparo</h2>
                                <button>Esconder</button>
                            </div>
                            <div class="info">
                                {% for prep in recipe.preparation %}
                                    <p>{{ prep }}</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="aditional">
                            <div class="title">
                                <h2>Informações adicionais</h2>
                                <button>Esconder</button>
                            </div>
                            <div class="info">
                                <p>{{ recipe.information }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock content %}
        {% block scripts %}
            <script src="/scripts/tooltip.js"></script>
        {% endblock scripts %}