{% extends "layout.njk" %}
{% block title %}
    <title>Foodfy -
        {{ recipe.title }}</title>
{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="../styles/main.css">
    {% endblock styles %}
    {% block content %}
        <section id="recipe-details">
            <div class="container">
                <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                    <div class="food-title">
                        <h1>{{ recipe.title }}</h1>
                        <p>por
                            {{ recipe.author }}</p>
                    </div>
                    <div class="food-info">
                        <div class="ingredients">
                            <h2>Ingredientes</h2>
                            {% for ingredient in recipe.ingredients %}
                                <li>{{ ingredient }}</li>
                            {% endfor %}
                        </div>
                        <div class="preparation">
                            <h2>Modo de preparo</h2>
                            <p>{{ recipe.preparation }}</p>
                        </div>
                        <div class="aditional">
                            <h2>Informações adicionais</h2>
                            <p>{{ recipe.information }}</p>
                        </div>
                    </div>
                </div>
            </section>
        {% endblock content %}