{% extends "layout.njk" %}
{% block title %}
    <title>Foodfy - Receitas</title>
{% endblock title %}
{% block header %}
    <header id="header">
        <nav class="container">
            <a href="/">
                <img src="/assets/logo.png " alt="Logo foodfy" class="logo"></a>
                <div class="links">
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="/chefs">Chefs</a>
                </div>
                {% include "filter.njk" %}
            </nav>
        </header>
    {% endblock header %}
    {% block content %}
        <section id="recipes">
            <div class="container">
                {% if filter %}
                    <h1 style="margin-top: 3.5rem; margin-bottom: 1.5rem">Buscando por “{{ filter }}”</h1>
                {% endif %}
                <ul class="receitas">
                    {% for recipe in recipes %}
                        <li class="receita">
                            <a href="/recipes/{{ recipe.id }}">
                                <img src="{{ recipe.image }}" alt=""></a>
                                <div class="food-info">
                                    <h3>{{ recipe.title }}</h3>
                                    <p>por
                                        {{ recipe.chef_name }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    {%include "paginate.njk"%}
                    
                </section>
            {% endblock content %}
            {% block footer %}
                <footer>
                    <p>Todos direitos reservados, receitas Foodfy</p>
                </footer>
            {% endblock footer %}