 <header id="header" class="admin">
            <nav class="container">
                <a href="/">
                    <img src="/assets/logo-alt.png " alt="Logo foodfy" class="logo"></a>
                <div class="links">
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                    <a href="/admin/users/">Usuários</a>
                </div>
                {% if session.userId %}
                <div class="logout">
                    <form action="/users/logout" method="POST">
                        <button>Sair</button>
                    </form>
                </div>
                {% endif %}
            </nav>
</header>