 <header id="header" class="admin">
            <nav class="container">
                <a href="/">
                    <img src="/assets/logo-alt.png " alt="Logo foodfy" class="logo"></a>
                <div class="links">
                    <a href="/admin/recipes">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                </div>
            </nav>
</header>