#recipes .receita {
  margin: 0 auto;
}

#recipes .receita img{
  object-fit: cover;
  
}

.filter input{
  padding: 0.7rem;
  border: 1px solid #DDDDDD;;
  border-radius: 4px;
}

.pagination{
  text-align: center;
  margin-top: 1rem;
}

.pagination a {
  margin-right: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--purple-color);
  color: white;
  border-radius: 5px;
}

.pagination span{
  margin-right: 1rem;
}

.pagination a.active{
font-weight: bold;
}

