#recipe-details img{
    width: 100%;
    border-radius: 15px;
}

#recipe-details .food-title{
    text-align: center;
    margin: 3rem;
}

#recipe-details .food-title h1{
    font-weight: bold;
    font-size: 2.25rem;
}


#recipe-details .food-title p {
    font-size: 1.25rem;
}

#recipe-details .title{
    display: flex;
    align-items: center;
}

#recipe-details .title button{
    max-height: 30px;
}

#recipe-details .info.disabled{
    display: none;
}


#recipe-details .food-info h2{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 2rem 1rem 2rem 0;
}

#recipe-details .food-info p,#recipe-details .food-info li{
    color: #444;
    font-size: 1.125rem;
    line-height: 28px;
}
