{% extends "layout.njk" %}
{% block title %}
    <title>Foodfy - Criar</title>
{% endblock title %}
{% block header %}
{% include "admin/parts/admin-header.njk" %}
{% endblock header %}
{% block content %}
    <section id="create admin">
        <div class="container">
            <form action="/admin/recipes" method="POST" enctype="multipart/form-data">
                <div class="title">
                    <h2>Criando receita</h2>
                    <button type="submit">Salvar receita</button>
                </div>
                {%include "admin/recipes/fields.njk"%}
            </form>
        </div>
    </section>
{% endblock content %}
