{% extends "layout.njk" %}
{% block title %}
    <title>Foodfy - Editar</title>
{% endblock title %}
{% block header %}
{% include "admin/parts/admin-header.njk" %}
{% endblock header %}
{% block content %}
    <section id="edit admin">
        <div class="container container-edit">

        <form action="/admin/recipes?_method=DELETE" method="POST" class="delete-form" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{recipe.id}}"/>
            <button class="delete" type="submit" onclick="return confirm('Tem certeza que deseja deletar?')">Deletar</button>
            <input type="hidden" name="filesId">
        </form>

            <form action="/admin/recipes?_method=PUT" method="POST" class="edit-form" enctype="multipart/form-data">
                <div class="title">
                    <h2>Editando receita</h2>
                        <button type="submit">Salvar receita</button>
                </div>
                {%include "admin/recipes/fields.njk"%}
                <input type="hidden" name="id" value="{{recipe.id}}"/>
            </form>


        </div>
    </section>

    {% if error %}
    <script>
        setTimeout(() => {
        window.location = `recipes`
        },2000)
    </script>
    {% endif %}
{% endblock content %}