{% extends "layout.njk" %}
{% block title %}
    <title>Foodfy - Editar</title>
{% endblock title %}
{% block header %}
{% include "admin/parts/admin-header.njk" %}
{% endblock header %}
{% block content %}
    <section id="edit admin">
        <div class="container container-edit">

        <form action="/admin/recipes?_method=DELETE" method="POST" class="delete-form">
            <input type="hidden" name="id" value="{{recipe.id}}"/>
            <button class="delete" type="submit" onclick="return confirm('Tem certeza que deseja deletar?')">Deletar</button>
        </form>

            <form action="/admin/recipes?_method=PUT" method="POST" class="edit-form">
                <div class="title">
                    <h2>Editando receita</h2>
                        <button type="submit">Salvar receita</button>
                </div>
                {%include "admin/recipes/fields.njk"%}
                <input type="hidden" name="id" value="{{recipe.id}}"/>
            </form>


        </div>
    </section>
{% endblock content %}