{% extends "layout.njk" %}
{% block title %}
    <title>Foodfy - Receitas</title>
{% endblock title %}

{% block header %}
        {% include "admin/parts/admin-header.njk" %}
{% endblock header %}

{% block content %}
    <section id="index admin">
        <div class="container">
            <div class="title">
                <h2>Gerenciar receitas ({{recipes.length}})</h2>
                <a href="/admin/recipes/create"><button>Novo</button></a>

                {%include "filter.njk"%}
            </div>
            <div class="recipes">
                {% for recipe in recipes %}
                    <div class="recipe">

                            <img src="{{ recipe.img }}" alt="{{loop.first}}">

                            <div class="recipe-info">
                                <h4>{{ recipe.title }}</h4>
                                <cite>por
                                    {{ recipe.chef_name }}</cite>
                                <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                            </div>
                    </div>
                    {% endfor %}
            </div>
            </div>
        </div>
    </section>
    {% endblock content %}


