{% extends "layout.njk" %}
{% block title %}
    <title>Foodfy - Receitas</title>
{% endblock title %}

{% block header %}
        {% include "admin/parts/admin-header.njk" %}
{% endblock header %}

{% block content %}
    <section id="index admin">
        <div class="container">
            <div class="title">
                <form action="/admin/recipes" name="select" method="get" onchange="this.submit()">
                <select name="select">
                    <option value="all" {% if select == "allFromUser" %} 
                    selected
                    {% endif %}>Gerenciar receitas ({{recipes.length}})</option>
                    <option value="allFromUser" {% if select == "allFromUser" %} 
                    selected
                    {% endif %}>Minhas receitas</option>
                </select>
                </form>
                <a href="/admin/recipes/create"><button>Novo</button></a>

                {%include "filter.njk"%}
            </div>
            <div class="recipes">
                {% for recipe in recipes %}
                    <div class="recipe">

                            <img src="{{ recipe.img }}" alt="{{loop.first}}">

                            <div class="recipe-info">
                                <h4>{{ recipe.title }}</h4>
                                <cite>por
                                    {{ recipe.chef_name or recipe.user_name }}</cite>
                                <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                            </div>
                    </div>
                    {% endfor %}
            </div>
            </div>
        </div>
    </section>
    {% endblock content %}


