{% extends "layout.njk" %}
{% block title %}
    <title>Foodfy - Receitas</title>
{% endblock title %}
{% block header %}
{% include "admin/parts/admin-header.njk" %}
{% endblock header %}
{% block content %}
    <section id="recipe-details">
        <div class="container">
            <div class="title">
                <h2>Receita: {{recipe.title}}</h2>
               <a href="/admin/recipes/{{recipe.id}}/edit"><button>Editar receita</button></a>
            </div>
            {%include "show-layout.njk" %}
        </div>
    </section>
{% endblock content %}

