<div class="filter">
    <form action="{{window.location.pathname}}" method="get">
        <input type="text" name="filter" id="filter" placeholder="Buscar uma receita" value={{filter}}>
        <button type="submit">Buscar</button>
    </form>
</div>